.cont-form{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10vh;
    margin-top: 17vh;
    
}
.cont-form form {
    width: 96%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.cont-form form p {
    line-height: 0;
    margin: 15px 0 0 0;
}
.cont-form form p input{
  height: 6vh;
  width: 64vw;
  font-size: 0.8vw;
  letter-spacing: 1px;
  padding-left: 15px;
  border: 1px solid #acacac;
  border-radius: 3px;
  font-family: 'Josefin Sans', sans-serif;
}
.cont-form form p input:focus{
    outline: 0;
 }
.cont-form form p textarea{
    width: 64vw;
    height: 12vw;
    font-size: 0.9vw;
    letter-spacing: 1px;
    padding-left: 15px;
    border: 1px solid #acacac;
    border-radius: 5px;
    padding-top: 15px;
    font-family: 'Josefin Sans', sans-serif;
}
.cont-form form p textarea:focus{
    outline: 0;
}
.cont-form form .sub-but button{
    width: 9vw;
    height: 3vw;
    border-radius: 5px;
    border: 0;
    background: #464646 ;
    color: #fff;  
    font-size: 1vw;
    letter-spacing: 2px; 
    font-family: 'Josefin Sans', sans-serif;
}
.cont-form form .sub-but{
    text-align: right;
}
.cont-form form .sub-but button:focus{
   outline: 0;
}
@media only screen and (max-width: 1112px) and (min-width: 1024px){
    .cont-form form p input{
        font-size: 1.2VW;
    }
    .cont-form form p textarea{
        font-size: 1.3VW;
        height: 18VW;
    }
    .cont-form form .sub-but button{
        width: 11vw;
        height: 3.5vw;
        font-size: 1.2vw;

    }
}
@media only screen and (max-width: 1020px) and (min-width: 827px){
    .cont-form form p input{
        font-size: 1.2VW;
        height: 5vh;
    }
    .cont-form form p textarea{
        font-size: 1.3VW;
        height: 18VW;
    }
    .cont-form form .sub-but button{
        width: 12vw;
        height: 4vw;
        font-size: 1.5vw;

    }
    .cont-form {
        margin-bottom: 8vh;
        margin-top: 12vh;
    }
}
@media only screen and (max-width: 824px) and (min-width: 768px){
    .cont-form form p input{
        font-size: 1.8VW;
        height: 5vh;
    }
    .cont-form form p textarea{
        font-size: 1.9VW;
        height: 18VW;
    }
    .cont-form form .sub-but button{
        width: 16vw;
        height: 5vw;
        font-size: 1.8vw;

    }
    .cont-form {
        margin-bottom: 8vh;
        margin-top: 12vh;
    }
  
}
@media only screen and (max-width: 812px) and (min-width: 500px){
    .cont-form{
        width: 96%;
        margin-top: 12vh;
    }
    .cont-form form p input{
        font-size: 1.8VW;
      width: 87vw; 
      height: 5vh;
    }
    .cont-form form p textarea{
        font-size: 1.8VW;
        height: 28VW;
        width: 87vw; 
    }
    .cont-form form .sub-but button{
        width: 16vw;
        height: 6vw;
        font-size: 1.8vw;
    
    }
}
@media only screen and (max-width: 414px) and (min-width: 320px){
    .cont-form{
        width: 90%;
        margin-top: 12vh;
    }
    .cont-form form p input{
        font-size: 3VW;
      width: 80vw; 
    }
    .cont-form form p textarea{
        font-size: 3VW;
        height: 30VW;
        width: 80vw; 
    }
    .cont-form form .sub-but button{
        width: 25vw;
        height: 9vw;
        font-size: 3vw;
    
    }
}
